body {
    font-family: 'Rubik Dirt', cursive;
    text-align: center;
    background-color: #212529;
}

.companyName {
    font-size: 3rem;
    margin-left: 4rem;
}

.navigation-options {
    justify-content: right;
}

.nav-link {
    font-size: 1.5rem;
    margin-left: 2rem;
}

¡.last-option-navbar {
    margin-right: 2rem;
}

.footer-container {
    background-color: #212529;
}

.social-icon {
    font-size: 3rem;
    margin: 0 1rem;
    color: #ff6600;
}

.copyright-section {
    color: #ff6600;
    font-size: 1.2rem;
    margin-top: 2rem;
}

.facebook:hover {
    color: #087cea;
    transition: 0.5s;
}

.whatsapp:hover {
    color: #25d366;
    transition: 0.5s;
}
