body {
    font-family: 'Rubik Dirt', cursive;
    text-align: center;
    background-color: #212529;
}

.companyName {
    font-size: 3rem;
    margin-left: 4rem;
}

.navigation-options {
    justify-content: right;
}

.nav-link {
    font-size: 1.5rem;
    margin-left: 2rem;
}

¡.last-option-navbar {
    margin-right: 2rem;
}

.title {
    background-color: #ff6600;
}

.title-image {
    width: 60%;
    margin-top: 4rem;
}

.main-heading {
    font-size: 5rem;
    margin-top: 14rem;
    text-align: left;
}

.food-wave {
    background-color: #212529;
}

.food-container {
    background-color: #212529;
}

.title-food {
    color: antiquewhite;
    font-size: 4rem;
    padding: 3rem 0 10rem 0;
}

.food-col {
    background-color: #212529;
    color: antiquewhite;
}

.food-image {
    height: 250px;
    margin-bottom: 2rem;
}

.food-description {
    font-size: 1.5rem;
    margin-top: 2rem;
    text-align: left;
    margin: 0 2rem 0 2rem;
}

.drinks-wave {
    background-color: antiquewhite;
}

.drinks-container {
    background-color: antiquewhite;
}

.title-drinks {
    font-size: 5rem;
    margin-bottom: 5rem;
}

.drinks-image {
    height: 300px;
    margin-bottom: 2rem;
}

.drinks-description {
    font-size: 1.5rem;
    margin-top: 2rem;
    text-align: left;
    margin: 0 2rem 0 2rem;
}

.footer-wave {
    background-color: #212529;
}

.footer-container {
    background-color: #212529;
}

.social-icon {
    font-size: 3rem;
    margin: 0 1rem;
    color: #ff6600;
}

.copyright-section {
    color: #ff6600;
    font-size: 1.2rem;
    margin-top: 2rem;
}

.facebook:hover {
    color: #087cea;
    transition: 0.5s;
}

.whatsapp:hover {
    color: #25d366;
    transition: 0.5s;
}



@media (max-width: 1400px){
    .title-image {
        width: 60%;
    }

    .main-heading {
        margin: 3rem 2rem 0 2rem;
        font-size: 5rem;
    }

    .title-food {
        font-size: 4rem;
        padding: 3rem 2rem 5rem 2rem;
    }

    .food-image {
        height: 170px;
        margin-bottom: 3rem;
    }

    .title-drinks {
        font-size: 4rem;
        padding: 3rem 2rem 5rem 2rem;
    }

    .drinks-image {
        height: 250px;
        margin-bottom: 3rem;
    }
}

@media (max-width: 600px){
    .title-image {
        width: 60%;
    }

    .main-heading {
        margin: 3rem 2rem 0 2rem;
        font-size: 3rem;
    }

    .title-food {
        text-align: left;
        font-size: 2.7rem;
        padding: 3rem 1rem 1rem 2rem;
    }

    .food-image {
        height: 170px;
        margin-top: 3rem;
        margin-bottom: 4rem;
    }

    .food-description {
        font-size: 1.3rem;
        margin-top: 2rem;
        text-align: left;
        margin: 0 3rem 0 3rem;
    }

    .title-drinks {
        font-size: 3rem;
        padding-top: 3rem;
        margin-bottom: 0;
    }

    .drinks-image {
        height: 170px;
        margin-top: 2rem;
        margin-bottom: 4rem;
    }

    .drinks-description {
        font-size: 1.3rem;
        margin-top: 1.5rem;
        text-align: left;
        margin: 0 3rem 0 3rem;
    }
}